.flightSummaryContainer{
    background-color: var(--one-color);
    padding: 2%;
    border-radius: 0%;
    justify-content: space-between;
    align-items: center;
    p{
        color: var(--nine-color);
        font-size: 1rem;
        font-family: var(--two-font);
        font-style: normal;
        font-weight: 400;
    }
    button{
        background-color: var(--nine-color);
        padding: 2%;
        color: var(--one-color);
        font-size: 1rem;
        font-family: var(--two-font);
        font-style: normal;
        font-weight: 700;
        width: 100%;
        border: none;
    }
}