<div class="card-container">
    
        <div *ngFor="let data of flight.selectedFlight!.airItineraryDTO!.allJourney!.flights ">
                <mat-card class="mat-card">
                    <mat-card-content class="card-body">
                        <div class="row">
                            <div class="col-3 d-flex  align-items-center">
                                <img class=" logo-img " src={{data.flightAirline?.airlineLogo}}>
                                <div class="logo-name">{{data.flightAirline?.airlineName}}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3"></div>
                            <div class="col-4 flight-time">
                                <div>{{data.flightDTO![0].departureDate | date : "shortTime"}}  -  {{data.flightDTO![0].arrivalDate | date : "shortTime"}}</div>
                            </div>
                        </div>
                        <div class="row mt-3 align-items-center">
                            <div class="col-3"></div>
                            <div class="col-4 flight-location">
                                {{data.flightDTO![0].departureTerminalAirport.cityName}} ({{data.flightDTO![0].departureTerminalAirport.airportCode}}) - {{data.flightDTO![data.flightDTO!.length-1].arrivalTerminalAirport.cityName}}  ( {{data.flightDTO![data.flightDTO!.length-1].arrivalTerminalAirport.airportCode}})
                            </div>
                            <div class="col-4 flight-duration">
                                <div class="">{{data.flightDTO![0].durationPerLeg | hourminute }}
                                    <span class="spanStyle">({{data.flightDTO![0].isStopSegment? 'Stop' : 'Direct'}})</span>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3 card-footer justify-content-between mb-0">
                            <div class="col-6">Refundable</div>
                            <div class="col-6">Flight Details</div>
                        </div>
                
            </mat-card-content>
            </mat-card>
            </div>
    </div>

