<div class="desktopContainer w-100">
    <div class="standardBooking">
        <div class="title">
            {{"checkout.bookNow.standardTitle" | translate}}
        </div>
        <div class="standardPrice mt-2">
            {{"checkout.bookNow.total" | translate}} 
            {{flight.selectedFlight!.airItineraryDTO.itinTotalFare.currencyCode | exchange:'code'}} 
            {{flight.selectedFlight!.airItineraryDTO.itinTotalFare.amount | exchange:'value'}} 
        </div>
        <div  class="standardBtn mt-4">
            <button mat-raised-button>
                {{'checkout.bookNow.bookBtn' | translate}}
            </button>
        </div>
    </div>

    <div class="premiumBooking">
        <div class="title">
            {{"checkout.bookNow.premiumTitle" | translate}}
        </div>
        <div class="premiumPrice mt-2">
            {{"checkout.bookNow.total" | translate}} 
            {{flight.selectedFlight!.airItineraryDTO.itinTotalFare.currencyCode | exchange:'code'}} 
            {{flight.selectedFlight!.airItineraryDTO.itinTotalFare.amount | exchange:'value'}} 
        </div>
        <div  class="premiumBtn mt-4">
            <button mat-raised-button>
                {{'checkout.bookNow.bookBtn' | translate}}
            </button>
        </div>
    </div>
</div>
