.topDestination{
    background-repeat: no-repeat;
    background-size: cover;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // width: 100%;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px #00000040;
    &_wrapper{
        padding: 0.2rem 1rem;
        background-color: #0000004D;
        border-radius: 0 0 10px 10px;
        color: #fff;
        font-family: var(--one-font);
        .title{
            font-weight: 500;
        }
        .body{
            font-weight: 400;
        }
        .footer{
            font-weight: 600;
        }

    }
}
.topDestination:hover{
    scale:1.05;
    opacity: 90%;
    cursor: pointer;
}
.bestFlight_title{
    margin-top: 1rem;
    // color: #0F56A6;
    font-weight: 700;
    font-size: 2rem;
    color: #d92434;
}
.bestFlight{
    font-size: 1rem;
    font-weight: 500;
    margin: 0.3rem 0;
    color: #fff;
    // padding: 1rem 0.5rem;
    // background-color: #acd3ff3a;
}
.bestFlight:hover{
    cursor: pointer;
    text-decoration: underline;
}