<div class="searchBox">
  <form
    [formGroup]="searchbox.searchFlight"
    [dir]="translate.currentLang == 'ar' ? 'rtl' : 'ltr'"
  >
    <div class="container-fluid">
      <div class="row">
        <ng-container formArrayName="Flights">
          <ng-container
            *ngFor="let item of searchbox.flightsArray['controls'] | slice : 0 : 1; let i = index">
            <ng-container [formGroupName]="0">
              <!-- Depart City -->
              <div class="col-12 col-md-12 col-lg-3" (click)="showDate()">
                <!-- Depart Input -->
                <input
                  formControlName="departing"
                  type="text"
                  placeholder="{{ 'searchbox.leaveFrom' | translate }}"
                  aria-label="City"
                  matInput
                  [matAutocomplete]="autoa"
                  #firstD
                  class="searchboxInput"
                />
                <!-- Depart Airports -->
                <mat-autocomplete #autoa="matAutocomplete">
                  <ng-container *ngIf="sharedService.cities !=undefined">
                    <mat-option *ngFor="let city of sharedService.cities | filterCity : item.get('departing')?.value " [value]="city.cityName + ',' + city.airportCode">
                        <span [innerHTML]="city.airportName| highlighter:item.get('departing')?.value"></span> -
                        <span [innerHTML]="city.countryName| highlighter:item.get('departing')?.value"></span> (
                        <span [innerHTML]="city.airportCode| highlighter:item.get('departing')?.value"></span> )
                      </mat-option>
                  </ng-container>   
                </mat-autocomplete>
              </div>
              <!-- Land City -->
              <div class="col-12 col-md-12 col-lg-3" (click)="showDate()">
                <!-- Land Inputs -->
                <input
                  formControlName="landing"
                  type="text"
                  placeholder="{{ 'searchbox.goingTo' | translate }}"
                  aria-label="City"
                  matInput
                  [matAutocomplete]="autob"
                  #firstAr
                  class="searchboxInput"
                />
                <!-- Land Airports -->
                <mat-autocomplete #autob="matAutocomplete">
                  <ng-container *ngIf="sharedService.cities !=undefined">
                    <mat-option *ngFor="let city of sharedService.cities | filterCity : item.get('landing')?.value " [value]="city.cityName + ',' + city.airportCode">
                        <span [innerHTML]="city.airportName| highlighter:item.get('landing')?.value"></span> -
                        <span [innerHTML]="city.countryName| highlighter:item.get('landing')?.value"></span> (
                        <span [innerHTML]="city.airportCode| highlighter:item.get('landing')?.value"></span> )
                      </mat-option>
                  </ng-container>   
                </mat-autocomplete>
              </div>
              <!-- Depart Date Input -->
              <div class="col-12 col-md-12 col-lg-3" (click)="showDate()">
                <input
                  class="searchboxInput"
                  placeholder="{{searchbox.flightsArray.at(0).get('departingD')?.value | date : 'MMM dd'}}" />
              </div>
              <!-- Travelers/Class -->
              <div class="col-12 col-md-12 col-lg-3" (click)="showTravellers()">
                <input type="text" placeholder="Travelers/Class" value="{{getTotalPassenger() + '/' + searchbox.searchFlight.controls['class'].value}}" class="searchboxInput"/>
              </div>
              <!-- DatePicker -->
              <div *ngIf="showDatePicker; else elseCondition">
                <ngb-datepicker #dp (dateSelect)="onDateSelection($event)"
              ></ngb-datepicker>
              </div>
              <!-- Travellers Component -->
              <ng-template #elseCondition>
                <div class="travellerComp">
                  <app-travellers></app-travellers>
                </div>
              </ng-template>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </form>

  <!--Submit Button -->
  <div class="submitBtn">
    <button (click)="submit()">Submit</button>
  </div>
</div>
