@import "../../../shared/scss/mixins.scss";
.searchBox {
  font-family: var(--one-font);
  .searchboxInput {
    @include cityInput;
  }

  .submitBtn {
    text-align: center;
    margin-top: 1rem;
    button {
      @include searchSubmitBtn;
    }
  }
  .travellerComp{
    text-align: center;
  }
}
