<div class="card-container">
    
    
            <mat-card class="mat-card">
                <div class="card-content">
                    <mat-card-content class="card-body ">
                        <div *ngFor="let data of flight.selectedFlight!.airItineraryDTO!.allJourney!.flights ">
                            <div class="row">
                                <div class="col-5 d-flex  align-items-center " >
                                    <img class=" logo-img me-2" src={{data.flightAirline?.airlineLogo}}>
                                    <div class="logo-name">{{data.flightAirline?.airlineName}}</div>
                                </div>
                            </div>
                            <div class="row" >
                                <div class="col-3"></div>
                                <div class="col-4 flight-time" [ngClass]="{'ar':translate.currentLang==='ar'}">
                                    <div>{{data.flightDTO![0].departureDate | date : "shortTime"}}  -  {{data.flightDTO![data.flightDTO!.length-1].arrivalDate | date : "shortTime"}}</div>
                                </div>
                            </div>
                            <div class="row mt-3 align-items-center">
                                <div class="col-3"></div>
                                <div class="col-4 flight-location">
                                    {{data.flightDTO![0].departureTerminalAirport.airportCode=='XNB'?'Dubai': data.flightDTO![0].departureTerminalAirport.cityName}} 
                                    ({{data.flightDTO![0].departureTerminalAirport.airportCode }}) 
                                    - {{data.flightDTO![data.flightDTO!.length-1].arrivalTerminalAirport.cityName}} 
                                     ( {{data.flightDTO![data.flightDTO!.length-1].arrivalTerminalAirport.airportCode}})
                                </div>
                                <div class="col-lg-4 col-sm-10 d-flex flight-duration">
                                            <div class="duration me-2">{{data.elapsedTime| hourminute }}</div>
                                            <div class="stops">
                                                <div *ngIf="data.stopsNum==0">({{"checkout.summaryCard.direct" | translate}})</div>
                                            <div *ngIf="data.stopsNum==1">({{"checkout.summaryCard.oneStop" | translate}})</div>
                                            <div *ngIf="data.stopsNum>1">({{"checkout.summaryCard.twoStops" | translate}})</div>
                                            </div>
                                            
                                        </div>
                                        
                                    
                                    </div>
                        </div>
                       
                           
                         
            </mat-card-content>
            <div class=" card-footer">
                <div class="card-footer-content">
                    <div class="col-2">
                        <div *ngIf="flight.selectedFlight!.airItineraryDTO.isRefundable">
                            {{"checkout.summaryCard.refundable" | translate}}                  
                                </div>
                          <div *ngIf="!flight.selectedFlight!.airItineraryDTO.isRefundable">
                            {{"checkout.summaryCard.nonRefundable" | translate}}
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-4">{{"checkout.summaryCard.flightDetails" | translate}}</div>
                </div>
              
            </div>
                </div>
                
        </mat-card>
       
</div>