.headerContainer{
    width: 100%;
    padding: 1%;
    background-color: var(--three-color);
    color: var(--nine-color);
    text-align: center;
    font-family: var(--one-font);
    font-size: 1.563rem;
    font-weight: 700;
}

.sectionContainer{
    background-color: var(--nine-color);
    padding: 2%;
    .passengersHeaderTitle{
        color: var(--eight-color);
        font-family: var(--two-font);
        font-size: 1.563rem;
        font-style: normal;
        font-weight: 600;
    }
    .passengersHeaderSteps{
        color: var(--seven-color);
        font-family: var(--two-font);
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
    }

    .passengersHeaderDescription{
        color: var(--three-color);
        font-family: var(--two-font);
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
    }
    .passengerTitle{
        color: var(--seven-color);
        font-family: var(--two-font);
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
    }
    .passengerType{
        color: var(--eight-color);
        font-family: var(--two-font);
        font-size: 1.563rem;
        font-style: normal;
        font-weight: 600;
    }
    .genderSelection{
        border-radius: 5px;
        border: 1px solid var(--four-color);
        padding: 4%;
        width: 85%;
        color: var(--seven-color);
        font-family: var(--two-font);
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        cursor: pointer;
        text-align: center;
    }
    .selectedGender{
        border-radius: 5px;
        border: 1px solid var(--fourteen-color);
        background-color: var(--fourteen-color);
        padding: 4%;
        width: 85%;
        color: var(--four-color);
        font-family: var(--two-font);
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        cursor: pointer;
        text-align: center;
    }

    input{
        border-radius: 5px;
        border: 1px solid var(--three-color);
        width: 100%;
        padding: 4%;
        color: var(--three-color);
        font-family: var(--two-font);
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
    }
    mat-datepicker-toggle{
        position: absolute;
        right: 5% !important;
        left: unset !important;
        bottom: 0;
        top: 0%;
    }
    
}

mat-panel-description{
    justify-content: center;
    align-items: center;
}

.payNowSection{
    width: 25%;
    margin-top: 10rem;
    display: block;
    float: right !important;
    text-align: center;
    .price{
        color: var(--eight-color);
        font-family: var(--two-font);
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 700;
    }
    .fareBreakup{
        color: var(--seven-color);
        font-family: var(--two-font);
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        text-decoration: underline;
        cursor: pointer;
    }
    .payBtn{
        button{
            width: 80%;
            border-radius: 10px;
            background:var(--one-color);
            padding: 8% 2%;
            color: var(--nine-color);
            font-family: var(--two-font);
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 700;
        }
    }
}

.ar .payNowSection{
    float: left !important;
}

.ar mat-datepicker-toggle{
    position: absolute;
    left: 5% !important;
    right: unset !important;
    bottom: 0;
    top: 0%;
}

mat-expansion-panel{
    box-shadow: none !important;
}

