.calenderMobile {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-family: var(--one-font);
  &_header {
    background-color: #35495f;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    .header_btnsList{
      border: 1px solid #fff;
      border-radius: 4px;
      align-self: center;  
      padding: 0.2rem 0.3rem;
      .header_icon{
        color: #fff;
        font-size: 16px;
        margin: 0 0.6rem;
        padding: 0.25rem 0.5rem;
      }
      .header_icon:active, .header_icon:focus, .header_icon:hover{
        background-color: #fff;
        color: var(--blue-color);
    }
    }
    .header_closeBtn{
      button {
        background-color: var(--one-color);
        color: #fff;
        font-size: 16px;
        border: none;
        padding: 0.5rem 1rem;
      }
    }
  }
  .confirmBtn{
    background-color: #35495f;
    position: sticky;
    bottom: 0;
    padding: 0.5rem;
    text-align: end;
    button{
      background-color: #84b339;
      color: #fff;
      font-size: 16px;
      border: none;
      padding: 0.5rem 1rem;
    }
  }
}
//#region datepicker
::ng-deep .ngb-dp-header{
  direction: ltr !important;
}
::ng-deep .calenderMobile_datepicker ngb-datepicker{
    width: 100%;
    flex-direction: column !important;
}
::ng-deep .calenderMobile_datepicker .ngb-dp-months{
    flex-direction: column !important;
}
::ng-deep .calenderMobile_datepicker ngb-datepicker-month {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
}
::ng-deep .calenderMobile_datepicker .ngb-dp-weekdays,
::ng-deep .calenderMobile_datepicker .ngb-dp-week {
  display: flex;
  justify-content: space-evenly;
}
//#endregion