<div class="searchBox">
  <form
    [formGroup]="searchbox.searchFlight"
    [dir]="translate.currentLang == 'ar' ? 'rtl' : 'ltr'"
  >
    <div class="container-fluid">
      <div class="row">
        <ng-container formArrayName="Flights">
          <ng-container
            *ngFor="
              let item of searchbox.flightsArray['controls'] | slice : 0 : 1;
              let i = index
            "
          >
            <ng-container [formGroupName]="0">
              <!-- Depart City -->
              <div class="col-12 col-md-12 col-lg-3" (click)="showDate()">
                <input
                  formControlName="departing"
                  type="text"
                  placeholder="{{ 'searchbox.leaveFrom' | translate }}"
                  aria-label="City"
                  matInput
                  [matAutocomplete]="autoa"
                  #firstD
                  class="searchboxInput"
                />
                <mat-autocomplete #autoa="matAutocomplete">
                  <ng-container *ngIf="sharedService.cities != undefined">
                    <mat-option
                      *ngFor="
                        let city of sharedService.cities
                          | filterCity : item.get('departing')?.value
                          | limitTo : 5
                      "
                      [value]="city.cityName + ',' + city.airportCode"
                    >
                      <span
                        [innerHTML]="
                          city.airportName
                            | highlighter : item.get('departing')?.value
                        "
                      ></span>
                      -
                      <span
                        [innerHTML]="
                          city.countryName
                            | highlighter : item.get('departing')?.value
                        "
                      ></span>
                      (
                      <span
                        [innerHTML]="
                          city.airportCode
                            | highlighter : item.get('departing')?.value
                        "
                      ></span>
                      )
                    </mat-option>
                  </ng-container>
                </mat-autocomplete>
              </div>
              <!-- Land City -->
              <div class="col-12 col-md-12 col-lg-3" (click)="showDate()">
                <input
                  formControlName="landing"
                  type="text"
                  placeholder="{{ 'searchbox.goingTo' | translate }}"
                  aria-label="City"
                  matInput
                  [matAutocomplete]="autob"
                  #firstAr
                  class="searchboxInput"
                />
                <mat-autocomplete #autob="matAutocomplete">
                  <ng-container *ngIf="sharedService.cities != undefined">
                    <mat-option
                      *ngFor="
                        let city of sharedService.cities
                          | filterCity : item.get('landing')?.value
                          | limitTo : 5
                      "
                      [value]="city.cityName + ',' + city.airportCode"
                    >
                      <span
                        [innerHTML]="
                          city.airportName
                            | highlighter : item.get('landing')?.value
                        "
                      ></span>
                      -
                      <span
                        [innerHTML]="
                          city.countryName
                            | highlighter : item.get('landing')?.value
                        "
                      ></span>
                      (
                      <span
                        [innerHTML]="
                          city.airportCode
                            | highlighter : item.get('landing')?.value
                        "
                      ></span
                      >)
                    </mat-option>
                  </ng-container>
                </mat-autocomplete>
              </div>
              <!-- Depart Date -->
              <!-- Retrurn Date -->
              <div class="col-12 col-md-12 col-lg-3"  (click)="showDate()">
                <input
                  class="searchboxInput"
                  placeholder="{{
                    searchbox.flightsArray.at(0).get('departingD')?.value
                      | date : 'MMM dd'
                  }}"
                />
                <input
                  class="searchboxInput"
                  placeholder="{{ 'searchbox.retun' | translate }}"
                  value="{{
                    searchbox.searchFlight.controls['returnDate']?.value
                      | date : 'MMM dd'
                  }}"
                />
              </div>
              <!-- Travelers/Class -->
              <div class="col-12 col-md-12 col-lg-3" (click)="showTravellers()">
                <input
                  type="text"
                  placeholder="{{ 'searchbox.traveller' | translate }}"
                  value="{{
                    getTotalPassenger() +
                      '/' +
                      searchbox.searchFlight.controls['class'].value
                  }}"
                  class="searchboxInput"
                />
              </div>

              <!-- Date Picker -->
              <div *ngIf="showDatePicker; else elseCondition">
                <ngb-datepicker
                #dp
                (dateSelect)="onDateSelection($event)"
                [displayMonths]="2"
                [dayTemplate]="t"
                outsideDays="hidden"
              >
              </ngb-datepicker>
              <ng-template #t let-date let-focused="focused">
                <span
                  class="custom-day"
                  [class.focused]="focused"
                  [class.range]="isRange(date)"
                  [class.faded]="isHovered(date) || isInside(date)"
                  (mouseenter)="hoveredDate = date"
                  (mouseleave)="hoveredDate = null"
                >
                  {{ date.day }}
                </span>
              </ng-template>
              
            </div>
            <!-- Travellers Component -->
            <ng-template #elseCondition>
              <div>
                <app-travellers></app-travellers>
              </div>
              </ng-template>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </form>
  <!--Submit Button -->
  <div class="submitBtn">
    <button (click)="submit()">Submit</button>
  </div>
</div>
