/* You can add global styles to this file, and also import other style files */

@import "node_modules/bootstrap/scss/bootstrap";
html , body { height: 100%;background-color:#F5F5F5;;}

:root{
    /*COLORS SCHEHMA*/
    --one-color:#3E7DC3;
    --two-color:#D9D9D9;
    --three-color:#BDBDBD; 
    --four-color:#0F56A6;
    --five-color:#2B4088;
    --six-color:#176BA9;
    --seven-color:#5B5D5E;
    --eight-color:#000000;
    --nine-color:#FFFFFF;
    --ten-color:#848586;
    --eleven-color:#13A722;
    --tweleve-color:#FF0606;
    --thirteen-color:#EBCAA6;
    --fourteen-color:#FEE6CC;
    --fifteen-color:#E8F2F9;
    --sixteen-color:#878787;
    --seventeen-color:#E2E2E2;

    /*FONT FAMILIES*/
    --one-font:Raleway;
    --two-font:Inter;


    
}


.phonenumber {
  width: 100%;
  padding: 3%;
  border-radius: 5px;
  border-color: var(--three-color);
  font-family: var(--two-font);
  font-size: 1rem;
  font-weight: 400;
  border-width: 0.5px;
}

.alert {
  width: 100%;
  padding: 3%;
  border-radius: 5px;
  border-color: var(--tweleve-color) !important;
  font-family: var(--two-font);
  font-size: 1rem;
  font-weight: 400;
  border-width: 0.5px;
}

.mat-progress-spinner svg{
  position: unset !important;
}
.flight_details .mat-tab-labels .mat-tab-label {
    border-radius: 1em;
    margin: 1em;
    border-radius: 0.9em;
    font-weight: 500;
    color: #000000;
    opacity: 1;
    overflow: hidden;
  }
  .flight_details  .mat-tab-label.mat-tab-label-active {
    border-radius: 10px;
    border:1px solid red;
    min-width: 100px;
    height: 44px;
  }
  .flight_details .mat-tab-group.mat-primary .mat-ink-bar {
    background: unset;
  }
  .flight_details .mat-tab-header {
    border-bottom: unset;
  }
  .flight_details .mat-tab-body-content{
    overflow: hidden;
  }
  @media (max-width:768px){
    .flight_details .mat-tab-labels .mat-tab-label {
      margin: 3%;
      padding: 0 1.2em;
      overflow: hidden;
    }
  }
