<!--DATA BINDING-->
<div class="container" *ngIf="flight.selectedFlight && flight.selectedFlight.status == 'Valid'">
    <div class="row">
        <div class="summary-card p-2 mt-4 mx-auto col-12 ">
            <div class="summary-card-text  ">{{"checkout.fastConfirm" | translate }}</div>
                <div class="row justify-content-center align-items-center ">
                    <div class="col-4 summary-price">
                       <span>{{flight.selectedFlight.airItineraryDTO.itinTotalFare.currencyCode}}&nbsp;</span>{{flight.selectedFlight.airItineraryDTO.itinTotalFare.amount}}
                    </div>
                    <div class="col-8"><button class="btn booknow-btn">{{"checkout.bookNow.bookBtn" | translate }}</button></div>
                </div>
        </div>

        <div class="col-12">
            <app-one-way *ngIf="flight.selectedFlight.searchCriteria.flightType == 'oneway'"></app-one-way>
            <app-round-trip *ngIf="flight.selectedFlight.searchCriteria.flightType == 'roundtrip'"></app-round-trip>
            <app-multi-city *ngIf="flight.selectedFlight.searchCriteria.flightType == 'multicity'"></app-multi-city>
        </div>


        <div class="col-12 mt-3">
            <app-offline-service></app-offline-service>
        </div>

        <div class="col-12 mt-3">
            <app-book-now></app-book-now>
        </div>
